
body{
    background-image: url("../imagenes/pexels-cottonbro-studio-5483075.jpg");
    font-family: 'Lato', sans-serif;
}
svg {
    width: 1em;
}

#barraHeader{
    background-color: transparent ! important;
    position: sticky;
    top: 0;
}

#navbarNav{
    justify-content: right;
    
}

a{
    background-color: #F0FFF0;
    border-radius: 15%;
    margin: 2%;
    
}

#tarjeta-presentacion{
    margin-left: 35%;
    margin-right: 35%;
}
.card-body{
    background-color: #93f0f7 ;
}
#fotoTarjeta{
    height:10rem;
}
#sobreMi{
    
    padding: 2%;
}
#texto-descripcion-personal{
    color: whitesmoke;
}

#portafolio, #portafolio-de-cursos{
    color: white;
    padding: 1%;
    list-style-type: none;
    text-align: center;
    display: inline;
}
#formularioContacto{
    margin-left: 30%;
    background-color: transparent;
}
#contactoIconos{
    background-color: transparent;
}
.enlaces-comunes{
    text-decoration: none;
    border-bottom: 1px solid;
    color: whitesmoke;
    background-color: transparent;
    margin: auto;

}
